<!DOCTYPE html>
<html>
<head>
    <title>Django CRM Status</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f4f6f8;
            text-align: center;
            padding-top: 100px;
        }
        .box {
            background: white;
            padding: 30px;
            margin: auto;
            width: 50%;
            border-radius: 8px;
            box-shadow: 0 0 10px #ccc;
        }
        h1 { color: #2c3e50; }
        .ok { color: green; font-size: 20px; }
    </style>
</head>
<body>
    <div class="box">
        <h1>Django CRM</h1>
        <p class="ok">✅ Application is running successfully</p>
        <p>Docker • PostgreSQL • Redis</p>
        <p>Ready for Kubernetes Deployment</p>
    </div>
</body>
</html>
