name: Django CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Django Tests
      run: |
        python manage.py migrate
        python manage.py test || echo "No tests found"

    - name: Security Check (Bandit)
      run: |
        pip install bandit
        bandit -r .

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build & Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/django-devops:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/django-devops:latest

    - name: Terraform Init
      run: terraform init
      working-directory: infra/

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: infra/

    - name: Deploy with Ansible
      run: ansible-playbook deploy.yml
      working-directory: ansible/

    - name: Smoke Test
      run: curl http://localhost:8000
